@import "mixins";
@import "globals";
.footer {
	text-align: center;

	@include adaptiv-value(padding-top, 80, 25, 1);

	&__title {
		font-size: 34px;
		font-weight: 700;
		line-height: 42px;
		margin-bottom: 20px;
	}

	&__text {
		line-height: 22px;
		margin-bottom: 20px;
	}

	&__tel {
		& a {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $greyColor;
			transition: color 0.3s ease-in-out;
			@include adaptiv-value(margin-bottom, 40, 30, 1);

			&:before {
				margin-right: 8px;
			}
			@media (any-hover: hover) {
				&:hover {
					color: $mainColor;
				}
			}
		}
	}

	&__message-list {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 45px;
		gap: 60px;
		@include adaptiv-value(margin-bottom, 40, 30, 1);
	}

	&__message-item {
	}

	&__message-link {
		color: $mainColor;
		transition: all 0.3s ease-in-out;
		&._vb-color {
			font-size: 48px;
			@media (any-hover: hover) {
				&:hover {
					color: #8f7ff4;
				}
			}
		}
		&._whats-color {
			@media (any-hover: hover) {
				&:hover {
					color: #68d175;
				}
			}
		}
		&._teleg-color {
			@media (any-hover: hover) {
				&:hover {
					color: #53baee;
				}
			}
		}
	}

	&__copyright {
		min-height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $greyColor;
		& a {
			color: $greyColor;
			transition: color 0.3s ease-in-out;
			margin-left: 5px;
			@media (any-hover: hover) {
				&:hover {
					color: $mainColor;
				}
			}
		}
	}
}

.footer-mail {
	background: rgba(0, 0, 0, 0.788);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	opacity: 0;
	transition: all ease 0.5s;
	&._active {
		overflow: visible;
		opacity: 1;
		z-index: 10;
	}
	&__form {
		position: relative;
		padding: 40px 30px;
		background: #ffffff;
		box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, 1);
		display: flex;
		border-radius: 5px;
		flex-direction: column;
		max-width: 300px;
		& p {
			transition: all 0.3s ease-in-out;
			margin-bottom: 10px;
			text-align: start;
		}
	}
	&__cross {
		position: absolute;
		top: 15px;
		right: 10px;
		z-index: 10;
		display: block;
		width: 1.5em;
		height: 1.2em;
		margin-right: 10px;
		cursor: pointer;
		&::after,
		&::before {
			position: absolute;
			left: 0;
			width: 100%;
			height: 15%;
			background: $mainColor;
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: rotate(-45deg) translate(0, -65%);
		}
		&::before {
			content: "";
			position: absolute;
			bottom: 50%;
			transform: rotate(45deg) translate(0, 70%);
		}
	}
	&__input,
	&__text,
	&__tel {
		transition: all 0.3s ease-in-out;
		border: 1px solid $mainColor;
		border-radius: 5px;
		margin-bottom: 30px;
		padding: 5px 10px;
	}

	&__text {
	}
	&__btn {
		margin-bottom: 20px;
	}
	&__response {
		position: absolute;
		top: 50%;
		left: 30px;
		transform: translateY(-50%);
		visibility: visible;
		opacity: 1;
		transition: all 0.3s ease-in-out;
	}
}
._valid-no {
	border: 1px solid #ff2222;
}
._hidden-form {
	visibility: hidden;
	opacity: 0;
}
._btn {
	align-self: center;
	min-width: 180px;
	min-height: 42px;
	background: $mainColor;
	padding: 0 15px;
	color: #ffff;
	border-radius: 20px;
	border: 1px solid $mainColor;
	transition: all 0.5s ease-in-out;
	@include adaptiv-value(margin-bottom, 40, 30, 1);
	@media (any-hover: hover) {
		&:hover {
			background: #ffff;
			color: $mainColor;
		}
	}
}
// Shake тряска кнопки
._shake {
	animation: shake 0.6s linear infinite;
}
@keyframes shake {
	35% {
		transform: rotate(0) translate(0, 0);
	}
	40% {
		transform: rotate(5deg) translate(0, -2px);
	}
	45% {
		transform: rotate(-3deg) translate(0, -2px);
	}
	50% {
		transform: rotate(5deg) translate(0, -2px);
	}
	55% {
		transform: rotate(-3deg) translate(0, -2px);
	}
	60% {
		transform: rotate(5deg) translate(0, -2px);
	}
	65% {
		transform: rotate(-3deg) translate(0, -2px);
	}
	70% {
		transform: rotate(0) translate(0, 0);
	}
}
