@import "mixins";
@import "globals";

.main-author {
	display: flex;
	justify-content: space-between;
	@include adaptiv-value(padding-bottom, 80, 25, 1);
	@include adaptiv-value(gap, 40, 20, 1);
	@include adaptiv-value(padding-top, 120, 69, 1);
	@media (max-width: #{$md2 + px}) {
		flex-direction: column;
		align-items: center;
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		line-height: 30px;
		width: 100%;
		@media (max-width: #{$md2 + px}) {
			flex-direction: row;
			align-items: flex-end;
			justify-content: start;
		}
		@media (max-width: #{$md3 + px}) {
			flex-direction: column;
			align-items: start;
			gap: 20px;
		}
	}

	&__fio {
		font-size: 47px;
		font-weight: 700;
		line-height: 55px;
		flex: 0 1 50%;
		@media (max-width: #{$md2 + px}) {
			flex: 1 1 45%;
		}
	}

	&__about {
		@media (max-width: #{$md2 + px}) {
			flex: 1 1 55%;
		}
	}

	&__img {
		& img {
			@media (max-width: #{$md3 + px}) {
				width: 100%;
			}
		}
	}
}
.lang {
	&__link {
		color: $greyColor;
		transition: color 0.5s ease-in-out;
		& span {
			margin: 0 3px;
		}
		&:hover {
			color: $mainColor;
		}
		&._active {
			color: $mainColor;
			font-weight: 700;
		}
	}
	position: absolute;
	bottom: 0;
	right: 0;
	transform: rotate(-90deg) translate(50%, 100%);
}

.main-about {
	text-align: center;
	background: $greyBgColor;
	@include adaptiv-value(padding-top, 80, 25, 1);
	@include adaptiv-value(padding-bottom, 80, 25, 1);
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__title {
		font-weight: 700;
		font-size: 34px;
	}

	&__text {
		line-height: 24px;
	}

	&__link {
		color: $greyColor;
		transition: color 0.5s ease-in-out;
		&:hover {
			color: $mainColor;
		}
	}
}
.main-skills {
	text-align: center;
	@include adaptiv-value(padding-top, 80, 25, 1);
	@include adaptiv-value(padding-bottom, 80, 25, 1);
	&__title {
		font-weight: 700;
		font-size: 34px;
		@include adaptiv-value(margin-bottom, 60, 20, 1);
	}

	&__text {
		@include adaptiv-value(margin-bottom, 60, 30, 1);
	}

	&__swiper {
		overflow: hidden;
	}

	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 210px;
		justify-content: space-between;
	}
	&__dots {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 15px;
		margin: 30px 0;
		& span {
			border-radius: 0;
			width: 3px;
			height: 3px;
			background: #000000;
			transition: all 0.3s ease-in-out;
			&.swiper-pagination-bullet-active {
				width: 10px;
				height: 10px;
				& + .swiper-pagination-bullet {
					width: 7px;
					height: 7px;
				}
			}
		}
	}
}

.slide-skills {
	padding: 5px 0;
	&__title {
		font-size: 14px;
		color: $greyColor;
		line-height: 17px;
		max-width: 70px;
		margin: 0 auto;
	}
	&__img {
		height: 90px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__star {
		position: relative;
		&::before {
			content: "★★★★★";
			color: $greyColor;
			font-size: 26px;
			letter-spacing: 3px;
		}
	}
	&__active {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		&::before {
			content: "★★★★★";
			color: $mainColor;
			letter-spacing: 3px;
			font-size: 26px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.main-portfolio {
	text-align: center;
	background: $greyBgColor;
	@include adaptiv-value(padding-top, 80, 25, 1);
	@include adaptiv-value(padding-bottom, 50, 25, 1);
	&__title {
		font-size: 34px;
		line-height: 42px;
		font-weight: 700;
		@include adaptiv-value(margin-bottom, 50, 20, 1);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		@include adaptiv-value(margin-bottom, 60, 25, 1);
	}
	&__item {
		display: flex;
		position: relative;
		justify-content: space-between;
		gap: 10px;
		transition: all 0.5s ease-in-out;
		@media (max-width: #{$md2 + px}) {
			flex-direction: column;
			align-items: center;
		}

		&:nth-child(2n) {
			flex-direction: row-reverse;
			.content-item__web {
				text-align: right;
			}
			@media (max-width: #{$md2 + px}) {
				flex-direction: column;
				align-items: center;
			}
		}
	}
	&__linkImg {
		cursor: pointer;
		flex: 1 0 60%;
		box-shadow: 0px 0px 8px -1px rgba(34, 60, 80, 0.2);
		& img {
			width: 100%;
		}
	}

	&__popup {
		background: rgba(0, 0, 0, 0.788);
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		opacity: 0;
		transition: all ease 0.5s;
		&._active {
			visibility: visible;
			opacity: 1;
			z-index: 10;
		}
	}
}
.swiper-portfolio {
	position: relative;
	overflow: hidden;
	@media (min-width: 1400px) {
		width: 55%;
	}
	@media (max-width: #{$md2 + px}) {
		width: 95%;
	}
	width: 80%;
	&__cross {
		position: absolute;
		top: 15px;
		right: 10px;
		z-index: 10;
		display: block;
		width: 1.5em;
		height: 1.2em;
		margin-right: 10px;
		cursor: pointer;
		&::after,
		&::before {
			position: absolute;
			left: 0;
			width: 100%;
			height: 15%;
			background: gray;
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: rotate(-45deg) translate(0, -65%);
		}
		&::before {
			content: "";
			position: absolute;
			bottom: 50%;
			transform: rotate(45deg) translate(0, 70%);
		}
	}
	&__slide {
		& img {
			width: 100%;
			object-fit: cover;
		}
	}
}

.content-item {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__title {
		font-size: 24px;
		line-height: 27px;
		@include adaptiv-value(margin-bottom, 40, 20, 1);
	}

	&__about {
		line-height: 24px;
		@include adaptiv-value(margin-bottom, 40, 20, 1);
		color: $greyColor;
	}

	&__web {
		color: $greyColor;
		transition: color 0.5s ease-in-out;
		text-align: left;
		@media (max-width: #{$md2 + px}) {
			text-align: right;
		}

		&:hover {
			color: $mainColor;
		}
	}
}
._hidden {
	opacity: 0;
	overflow: hidden;
	height: 0;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	color: gray;
}
